.profile-img{
    /* width: 720px; */
    z-index: 0;
}
.profile-img img{
    width: 100%;
}
.full-info-subdiv{
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 20px;
}
.full-info{
    margin-top: -40px;
    background-color: #fff;
    /* width: 680px; */
    box-shadow: #fff;
    border-radius: 2px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    margin-right: 20px;
}
.shop-name{
    font-size: 22px;
    font-family: proxima-nova, sans-serif;
    color: #4a4a4a;
    font-weight: 600;
}
.location-info{
    padding-top: 10px;
    font-family: proxima-nova, sans-serif;
    color: #4a4a4a;
    font-size: 14px;
}
.address{
    margin-top: 5px;
    font-size: 14px;
    color: #4a4a4a;
    font-family: proxima-nova, sans-serif;
}
.rating-info{
    width: 80px;
    height: 40px;
    background-color: #5ba829;
    color: #fff;
    margin-left: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.pic-like-share{
    margin-top: 20px;
}
.pic-like{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: proxima-nova,sans-serif;
}
.pic-like div{
    display: flex;
    justify-content: center;
    align-items: center;
}