.wrapper-slider{
  width: 240px;
}
.wrapper-slider div{
  width: 100%;
  height: auto;
}

.wrapper-image{
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  height: 260px;
}
.wrapper-image:hover img {
  transform: scale(1.3); /* Adjust the scale factor as needed for the desired zoom level */
}
.wrapper-image img{
  width: 100%;
  transition: transform 0.7s ease;
  border-radius: 5px;
  object-fit: cover;
  height: 260px;
}
.weding-text{
  font-size: medium;
  font-family: proxima-nova, sans-serif;
  
}
.slider-container {
  position: relative;
}
.btn-container {
  position: absolute;
  top: 40%;
  bottom: 50%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
}
.swiper-slide {
  min-width: fit-content;
  height: auto;
}
