.left-section{
    width: 720px;
    padding-bottom: 20px;
}
.profile-img{
    width: 720px;
    z-index: 0;
}
.profile-img img{
    width: 100%;
}
.full-info-subdiv{
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 20px;
}
.full-info{
    margin-top: -40px;
    background-color: #fff;
    width: 680px;
    box-shadow: #fff;
    border-radius: 2px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    margin-right: 20px;
}
.shop-name{
    font-size: 22px;
    font-family: proxima-nova, sans-serif;
    color: #4a4a4a;
    font-weight: 600;
}
.location-info{
    padding-top: 10px;
    font-family: proxima-nova, sans-serif;
    color: #4a4a4a;
    font-size: 14px;
}
.address{
    margin-top: 5px;
    font-size: 14px;
    color: #4a4a4a;
    font-family: proxima-nova, sans-serif;
}
.rating-info{
    width: 80px;
    height: 40px;
    background-color: #5ba829;
    color: #fff;
    margin-left: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.pic-like-share{
    margin-top: 20px;
}
.pic-like{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: proxima-nova,sans-serif;
}
.pic-like div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items{
    display: flex;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50px;
}
.nav-items a{
    margin-left: 20px;
    font-family: proxima-nova,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4a4a4a;
}
.demo{
    display: flex;
}
.demo-text{
    display: flex;
    margin-left: 10px;
}
.demo span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Areas-info{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Areas-info h3{
    padding-left: 20px;
    padding-top: 20px;
    font-family: proxima-nova, sans-serif;
    color: #4a4a4a;
}
.seating{
    padding-top: 20px;
    font-family: proxima-nova, sans-serif;
    margin-left: 20px;
    width: 680px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    color: #4a4a4a;
}
.seating-txt{
    font-size: 11px;
}
.demo-text p{
    font-size: 16px;
    margin-top: 10px;
    word-spacing: 7px;
}
.demo{
    column-gap: 10px;
}
.demo span{
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    line-height: 12px;
}
.seating-txt div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio{
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pic-video{
    display: flex;
    padding-top: 20px;
    margin-left: 20px;
    font-family: proxima-nova, sans-serif;
    gap: 40px;
}
.pic-video div p{
    display: flex;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.component{
    margin-top: 20px;
}
.seating-txt p{
    margin-top: 2px;
}

.pagination{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* YourComponent.css */

.selected {
  position: relative;
  color: #e72e77;
}

.selected p {
  margin-bottom: 5px; /* Adjust the value to set the desired gap */
}

.selected::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid; /* Or specify the color and style as needed */
  position: absolute;
  bottom: 0;
  left: 0;
}

.Main-info-div{
    display: flex;
    font-family: proxima-nova,sans-serif;
}
.right-section{
    margin-left: 20px;
    width: 444px;
}
.right-section-price{
    width: 380;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.right-section-price  div p{
    text-align: start;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    font-family: proxima-nova,sans-serif;
    color: #4a4a4a;
    align-items: center;

}
hr {
    border-bottom: 0.1px solid #f7f3f3;
    margin-top: 10px;
}
.prices{
    margin-top: 10px;
    display: flex;
}
.prices div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices p{
    align-items: center;
    justify-content: center;
}

.priceFood{
    font-size: 22px;
    font-family: proxima-nova,sans-serif;
    margin-left: 5px;
    color: #e72e77;
}