.main-div{
    display: flex;
}
.main-div p{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4a4a4a;
}
.main-div div{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4a4a4a;
}
.div2{
    margin-left: 70px;
}
.div3{
    margin-left: 70px;
}
.div4{
    margin-left: auto;
}
.btn1{
    width: 130px;
    border: none;
    background-color: #e72e77;
    border-radius: 5px;
    color: #fff;
    font-family: proxima-nova, sans-serif;
    height: 40px;
}
.btn2{
    width: 150px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #e72e77;
    height: 40px;
}
.submit-btn{
    background-color: #e72e77;
    border: none;
    color: #fff;
    height: 30px;
    width: 60px;
}
.footer{
    margin-top: 50px;
}
.footer p{
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: #4a4a4a;
}