.photos{
    width: 720px;
}
.photos-grid{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.img-divison{
    height: 160px;
}
.img-divison img{
    height: 100%;
    /* object-fit: cover; */
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: space-between;
  }
  
  .videoRatio {
    overflow: hidden;
    padding: 50% 0 0 0;
    position: relative;
    width: 100%;
  }
  
  .videoInner {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  
  .thumbnailButton {
    @extend .videoInner;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .thumbnailImage {
    width: 100%;
  }
  
  .playIcon {
    height: 40px;
    left: calc(50% - 20px);
    position: absolute;
    top: calc(50% - 17px);
    transition: all 0.3s ease-in-out;
    width: 40px;
  }
  