*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

.Main-tag{
  display: flex;
  justify-content: space-between;
  height: 42px;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #b4245d;
  color: white;
  align-items: center;
}

.tag-line{
  font-size: 14px;
  padding-left: 30px;
  margin: 0;
  color: white;
}
.link-App-review{
  font-size: 14px;
  margin-right : 20px;
}
.link-App-download{
  font-size: 14px;
}

.button-header {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.icon{
  width: 11.75;
  margin-right: 5px;
  height: 20px;
}

.navbar-nav{
  color: #b4245d;
}
.Section-Navbar{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e72e77;
}

.flex-container{
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  height: 51px;
  font-weight: 400;
  text-decoration: none;
}
.navbar-brand{
  margin-left: 30px;
  float: left;
  display: flex;
  align-items: center;
  line-height: 14px;
}
.EventEase{
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 25px;
  float: left;
  color: #fff;
  margin-left: 29px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.headline-image {
  background: url(https://images.wedmegood.com/images/otploginsidebardesktop.png) 100% center / cover no-repeat;
  max-width: 400px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  line-height: 60px;
  padding: 20px;
  min-width: 400px;
  height: 600px;
}

.pic-and-login {
width: 1000px;
height: 600px;
display: flex;
margin-top: 30px;
flex-direction: row;
background: rgb(255, 255, 255);
}

.main-block-login {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
}
.margin{
margin-bottom: 40px;
}

.block-for-login .form-heading {
font-size: 28px;
text-align: center;
font-weight: 600;
font-family: sans-serif;
color: #4a4a4a;
line-height: 26px;
}

.full-area-signin {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
justify-content: space-between;
}
.upper-area-signin{
display: flex;
margin-left: 20px;
margin-right: 20px;
}
.block-for-login{
  width: 100%;
  min-height: 320px;
  padding: 30px;
}
.input-mail-id {
height: 30px;
padding: 10px 2px;
margin-top: 20px;
margin-bottom: unset;
width: 100%;
font-size: 14px;
position: relative;
border: 1px solid rgb(215, 215, 215);
border-radius: 2px;
display: flex;
align-items: center;
color: rgb(74, 74, 74);
}


.input-mail-id .icon {
border-right: 1px solid rgb(215, 215, 215);
padding: 0px 20px;
display: flex;
background-size: contain;
background-position: 50% center;
max-height: 26px;
}

.icon {
max-height: 20px;
}
.icon, .icon-large {
width: auto;
vertical-align: middle;
}
img {
max-width: 100%;
}


.input-mail-id input{
  font-family: proxima-nova, sans-serif;
  background: transparent;
  width: 100%;
  border: none;
  padding: 0px 20px;
}
input{
outline: none;
background: none;
}

.OR{
display: flex;
margin-top: 40px;
}
.or-heading{
padding-left: 3%; 
padding-right: 3%;
font-family: sans-serif;
font-size: 14px;
}

.Continue-with-text{
font-size: 20px;
font-family: proxima-nova, sans-serif;
text-align: center;
margin-top: 25px;
font-weight: 600;
color: #4a4a4a;
}
.other-logins{
display: flex;
margin-top: 25px;
justify-content: space-between;
font-family: proxima-nova, sans-serif;
font-size: 14px;
font-weight: 400;
}
.social-icons-fb {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 2px;
  margin-right: 20px;
}
.social-icons-google{
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 2px;
}

.facebook-login {
padding-top: 16px;
padding-bottom: 15px;
padding-left: 15px;
}
.google-login{
padding-top: 16px;
padding-left: 15px;
padding-bottom: 15px;
}


.ContinueBtn{
margin-top: 40px;
width: 100%;
color: #fff;
background-color: rgb(229 47 119);
height: 50px;
font-size: 20px;
font-family: sans-serif;
border: none;
}

/* HeroSection */
.HeroDiv{
  position: relative;
  height: 500px;
  width: 100%;
}
.HeroDiv img{
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.HeroSection-Img{
  position: relative;
  display: flex;
  color: #fff;
  font-size: 38px;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-family: "proxima-nova",sans-serif;
  height: 100%;
  width: 100%;
}

.img-wrapper{
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5%;
  text-align: center;
  width: 100%;
}

.bWGfDV {
  width: 100%;
  height: 50%;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 49%, rgb(0, 0, 0));
}
.header-cities{
  margin-right: auto;
  margin-left: 50px;
  display: flex;
  border-radius: 2px;
}
.wedding-city{
  align-items: center;
  align-self: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
}



/* CityPop Up */
/* Center the popup container */
.popup-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  min-height: 100vh;       /* Ensure full viewport height */
  background-color: #4a4a4a;
}

/* Style for UpperDiv-CityPop */
.UpperDiv-CityPop {
  height: 450px;
  border-radius: 5px;
  background-color: aliceblue;
  width: 1000px;
}

/* Style for Search-Div */

/* Style for the search input container */
.search-input-container {
  outline: 0.1px solid rgb(144, 144, 144);
  margin: 25px 20px 0 0;
  height: 50px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

/* Style for the icon */
.icon {
  color: rgb(144, 144, 144);
  margin-left: 10px;
}

/* Style for the input */
input[type="text"] {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  /* Add your input styles here */
}

.container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  justify-content: center; /* Equal spacing between children */
  width: 100%; /* Ensure it spans the full width of its parent */
  border-radius: 2px;
}

.child1,.child2,.child3,.child4{
  flex: 1; /* Equal width for all children */
  height: 355px; /* Adjust the height as needed */ 
  padding-left: 20px;
  padding-top: 20px;
}
.Top-Cities,.Popular-Cities,.Other-Cities,.International-Cities{ 
  width: 210px;
  height: 280px; /* Just for visibility, you can change the color */
}
.HeadDing-City{
  color: #e72e77;
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.CityName{
  color: #4a4a4a;
  display: block;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  padding: 2px 0px;
}
.Search-Vendors{
  margin-top: 20px;
  height: 50px;
  background-color: #e72e77;
  fill: #fff;
  align-items: center;
}

.Find-Vendors{
  background-color: #fff;
  width: 750px;
  color: #e72e77;
  font-family: "proxima-nova",sans-serif;
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 14px;
  padding-left: 13px;
  font-weight: 600;
  height: 50px;
}


/* Swiper */
.PopuplarText{
  font-size: 22px;
  font-weight: 600;
  font-family: proxima-nova,sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.swiper{
  display: flex;
  margin: 0 auto;
}
.box-of-image{
  display: flex;
}
.box-of-image img{
  border-radius: 5px;
} 
.text-main{
  margin-left: 20px;
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
}
.star-hotels{
  size: 20px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  color: #4a4a4a;;
}
.city-for-hotels{
  color: #e72e77;
  line-height: 21px;
  font-family: sans-serif;
  margin-right: 60px;
  font-size: 14px;
  font-weight: 400;
}
.city{
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
a{
  text-decoration: none;
}

.margin-r-5{
  margin-right: 5px;
}

/* Catergory */


.Wedding_Categories{
  margin-top: 110px;
  margin-left: 5%;
  width: 90%;
  display: flex;
}

.Wedding-Categories{
  font-family: proxima-nova,sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #4a4a4a;
}
.All-Categories{
  font-family: proxima-nova,sans-serif;
  margin-left: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #e72e77;
}

.Six_Categories{
  width: 90%;
  height: auto;
  margin-left: 5%;
}

.Upper_Two{
  margin-top: 15px;
  display: flex;
}
.Middle_two{
  margin-top: 15px;
  display: flex;
}
.Last_two{
  margin-top: 15px;
  display: flex;
}

.First_Category{
  background-color: rgb(216, 223, 252);
}
.Second_Category{
  background-color: rgb(244, 213, 194);
  margin-left: 20px;
}
.Third_Category{
  background-color: rgb(223, 178, 173);
}
.Fourth_Category{
  background-color: rgb(207, 205, 184);
  margin-left: 20px;
}

.Fifth_Category{
  background-color: rgb(220, 247, 247);
}
.Six_Category{
  background-color: rgb(229, 211, 189);
  margin-left: 20px;
}

.Common_Category{
  width: 590px;
  height: 120px;
  margin-right: auto;
  display: flex;
}
.text_div{
  height: 120px;
  width: 340px;
}
.image_div{
  height: 120px;
  width: 250px;
}
.first_image{
  clip-path: ellipse(99% 140px at 100% 50%);
  object-fit: cover;
}
.text_div_container{
  width: 250px;
  padding: 30px 25px;
}

.text_div_first{
  font-size: 22px;
  font-family: proxima-nova,sans-serif;
  font-weight: 600;
  color: #4a4a4a;
}
.text_div_second{
  font-size: 14px;
  margin-top: 5px;
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}










