.wrapper-slider{
  width: 240px;
}
.wrapper-slider div{
  width: 100%;
  height: auto;
}

.wrapper-image{
  width: 100%;
  border-radius: 5px;
  height: 260px;
}
.wrapper-image img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 260px;
}
.weding-text{
  font-size: medium;
  font-family: proxima-nova, sans-serif;
  
}
